<ng-container *ngIf="artist$ | async as artist">
  <div class="upper-part">
    <div class="info-on-left">
      <h3>Artist</h3>

      <h1>{{ artist?.name }}</h1>
      <div *ngIf="(currentUser$ | async)?.role === 'admin'">
        <button (click)="openReleaseFormDialog('Create', artist)" mat-button>
          <mat-icon>add</mat-icon> Add release
        </button>

        <button (click)="openArtistFormDialog('Update')" mat-button>
          <mat-icon>edit</mat-icon> Edit artist
        </button>

        <button (click)="deleteArtist(artist)" color="warn" mat-button>
          <mat-icon>delete</mat-icon> Delete artist
        </button>
      </div>
    </div>

    <div class="image-on-right">
      <img
        [src]="artist?.imageUrl"
        src-fallback="assets/music-fallback.jpg"
        style="border-radius: 50%"
      />
    </div>
  </div>

  <mat-card *ngIf="artist.releases.length">
    <h4>Releases from {{ artist?.name }}</h4>
    <search-result-card
      *ngFor="let release of artist?.releases"
      [item]="release"
      [type]="'release'"
    >
    </search-result-card>
  </mat-card>
  <h4 *ngIf="!artist.releases.length">No releases from {{ artist.name }}.</h4>
</ng-container>
