<form (ngSubmit)="onConfirm()" [formGroup]="form">
  <input
    #fileInput
    (change)="onFileChanged($event)"
    hidden="true"
    onclick="this.value=null"
    type="file"
  />

  <h1 mat-dialog-title>{{ actionType }} playlist</h1>

  <div class="form-dialog">
    <img
      (click)="fileInput.click()"
      [src]="this.imageUrl"
      src-fallback="/assets/music-fallback.jpg"
    />

    <button
      (click)="removeImage()"
      [disabled]="!this.imageUrl || (this.uploading$ | async)"
      mat-stroked-button
      type="button"
    >
      <mat-icon class="material-icons-outlined">hide_image</mat-icon>
      Remove image
    </button>

    <mat-form-field appearance="outline">
      <input formControlName="name" matInput type="text" />
      <mat-error>Name is required.</mat-error>
      <mat-label>Name</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input formControlName="description" matInput type="text" />
      <mat-label>Description</mat-label>
    </mat-form-field>

    <div mat-dialog-actions>
      <button
        [disabled]="this.uploading$ | async"
        color="primary"
        mat-raised-button
        type="submit"
      >
        Save
      </button>
      <button
        (click)="onDismiss()"
        [disabled]="this.uploading$ | async"
        mat-stroked-button
      >
        Cancel
      </button>
    </div>
  </div>
</form>
