<mat-card>
  <div (cdkDropListDropped)="drop($event)" cdkDropList class="example-list">
    <ng-container>
      <div class="example-box">
        <div class="cell">
          <h4>Number</h4>
        </div>

        <div class="cell">
          <h4>Name</h4>
        </div>
        <div class="cell">
          <h4>Artist</h4>
        </div>
        <div class="cell">
          <h4>Album</h4>
        </div>
        <div class="cell">
          <h4>Duration</h4>
        </div>
        <div class="edit-icons"></div>
      </div>
      <div *ngFor="let track of tracks; let i = index">
        <div
          [cdkDragDisabled]="type !== 'playlist' || !editable"
          cdkDrag
          class="example-box"
        >
          <ng-container>
            <div class="cell">
              {{ i + 1 }}
            </div>
            <div class="cell">
              {{ track?.name }}
            </div>
            <div class="cell">
              <a
                *ngFor="let artist of track?.release?.artists"
                [routerLink]="'/artist/' + artist?.id"
              >
                {{ artist.name }}
              </a>
            </div>
            <div class="cell">
              <a [routerLink]="'/release/' + track?.release?.id">
                {{ track?.release?.name }}
              </a>
            </div>
            <div class="cell">
              {{ track && track.duration * 1000 | date: 'mm:ss' }}
            </div>

            <div class="edit-icons">
              <button (click)="toggleTrackLike(track)" mat-icon-button>
                <mat-icon color="warn">{{
                  track?.liked ? 'favorite' : 'favorite_outline'
                }}</mat-icon>
              </button>

              <button (click)="addTrackToPlaylist(track)" mat-icon-button>
                <mat-icon>playlist_add</mat-icon>
              </button>

              <button
                (click)="removeTrackFromPlaylist(i + 1)"
                *ngIf="this.type === 'playlist' && editable"
                color="warn"
                mat-icon-button
              >
                <mat-icon class="material-icons-outlined">delete</mat-icon>
              </button>
              <mat-icon
                *ngIf="this.type === 'playlist' && editable"
                class="drag-icon"
                >drag_indicator</mat-icon
              >
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</mat-card>
