<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <ng-container>
    <div *ngFor="let track of tracks; let i = index">
      <div class="example-box" cdkDrag [cdkDragDisabled]="type !== 'playlist'">
        <ng-container>
          <span>
            {{ i + 1 }}
          </span>
          <span>
            {{ track?.name }}
          </span>
          <a [routerLink]="'/release/' + track?.release?.id">
            {{ track?.release?.name }}
          </a>
          <a
            [routerLink]="'/artist/' + artist?.id"
            *ngFor="let artist of track?.release?.artists"
          >
            {{ artist.name }}
          </a>
          <span>
            {{ track && track.duration * 1000 | date: 'mm:ss' }}
          </span>

          <div class="edit-icons">
            <button mat-icon-button (click)="toggleTrackLike(track)">
              <mat-icon color="warn">{{
                track?.liked ? 'favorite' : 'favorite_outline'
              }}</mat-icon>
            </button>

            <button
              mat-icon-button
              *ngIf="type !== 'playlist'"
              (click)="addTrackToPlaylist(track)"
            >
              <mat-icon>add</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              *ngIf="this.type === 'playlist'"
              (click)="removeTrackFromPlaylist(track)"
            >
              <mat-icon class="material-icons-outlined">delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <div class="flex-end"></div>
</div>
