<ng-container *ngIf="this.user$ | async as user">
  <ng-container *ngIf="this.currentUser$ | async as currentUser">
    <mat-card>
      <mat-card-title-group>
        <img
          [src]="user?.imageUrl"
          height="200"
          mat-card-xl-image
          src-fallback="assets/music-fallback.jpg"
          style="border-radius: 50%"
          width="200"
        />
        <mat-card-title>
          <h2>{{ user?.name }}</h2>
        </mat-card-title>
      </mat-card-title-group>

      <ng-container
        *ngIf="this.userCompatibility$ | async as userCompatibility"
      >
        <mat-card-content *ngIf="currentUser.id !== user.id">
          <h2 *ngIf="userCompatibility.artists.length > 0">
            You both like listening to:
          </h2>

          <button
            *ngFor="let artist of userCompatibility.artists"
            [routerLink]="'/artist/' + artist.id"
            mat-button
          >
            <mat-card>
              <img [src]="artist.imageUrl" mat-card-sm-image />
              {{ artist.name }}
            </mat-card>
          </button>

          <h3 *ngIf="userCompatibility.artists.length > 0">
            And you enjoy listening to

            <span
              *ngFor="
                let genre of userCompatibility.genres as genres;
                let i = index
              "
            >
              {{ genre | titlecase }}
              <span *ngIf="i < genres.length - 2">, </span>
              <span *ngIf="i === genres.length - 2"> and </span> </span
            >.
          </h3>

          <button
            (click)="toggleUserFollowing(user)"
            *ngIf="!isCurrentUsersFriend(user, currentUser)"
            mat-button
          >
            <mat-icon>person_add</mat-icon>Add friend
          </button>

          <button
            (click)="toggleUserFollowing(user)"
            *ngIf="isCurrentUsersFriend(user, currentUser)"
            color="warn"
            mat-button
          >
            <mat-icon>person_remove</mat-icon>Remove friend
          </button>
        </mat-card-content>
      </ng-container>
    </mat-card>

    <mat-card *ngIf="user.playlists.length">
      <h4>{{ user.name }}'s playlists</h4>
      <div style="display: flex">
        <search-result-card
          *ngFor="let playlist of user.playlists"
          [item]="playlist"
          [type]="'playlist'"
        >
        </search-result-card>
      </div>
    </mat-card>
    <h4 *ngIf="!user.playlists.length">
      No playlists yet from {{ user.name }}.
    </h4>

    <mat-card *ngIf="user.likedPlaylists.length">
      <h4>{{ user.name }}'s favorite playlists</h4>
      <div style="display: flex">
        <search-result-card
          *ngFor="let playlist of user.likedPlaylists"
          [item]="playlist"
          [type]="'playlist'"
        >
        </search-result-card>
      </div>
    </mat-card>
    <h4 *ngIf="!user.likedPlaylists?.length">
      No favorite playlists yet from {{ user.name }}.
    </h4>
  </ng-container>
</ng-container>
