<mat-card>
  <mat-card-title-group>
    <img
      mat-card-xl-image
      [src]="(this.user$ | async)?.imageUrl"
      height="200"
      width="200"
    />
    <mat-card-title>
      <h2>{{ (this.user$ | async)?.name }}</h2>
    </mat-card-title>
  </mat-card-title-group>

  <mat-card-content>
    <h4>You both like listening to:</h4>

    <button
      *ngFor="let artist of (this.userCompatibility$ | async)?.artists"
      mat-button
      [routerLink]="'/artist/' + artist.id"
    >
      <mat-card>
        <img mat-card-sm-image [src]="artist.imageUrl" />
        {{ artist.name }}
      </mat-card>
    </button>

    <h4>
      And you enjoy listening to

      <span *ngFor="let genre of (this.userCompatibility$ | async)?.genres">
        {{ genre | titlecase }}
      </span>
    </h4>

    <!-- {{ this.userCompatibility$ | async | json }} -->
  </mat-card-content>
</mat-card>
