<mat-toolbar class="toolbar mat-elevation-z5" color="primary">
  <button #btnSideNavToggle (click)="this.sidenav.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h3>Music Match</h3>

  <div style="width: 100%"></div>

  <div>
    <button
      *ngIf="currentUser$ | async as currentUser"
      [routerLink]="'/user/' + currentUser.id"
      mat-button
    >
      <img
        [src]="currentUser.imageUrl"
        height="40"
        style="border-radius: 50%"
        width="40"
      />

      <span>{{ currentUser.name }}</span>
    </button>
    <button (click)="onLogout()" mat-button>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sideNav [mode]="(isHandset$ | async) ? 'over' : 'side'" opened>
    <mat-nav-list>
      <mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'/home'">
        <h4 class="header-next-to-icon">
          <mat-icon>home</mat-icon>
          Home
        </h4>
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['is-active']"
        [routerLink]="'/search'"
      >
        <h4 class="header-next-to-icon">
          <mat-icon>search</mat-icon>
          Search
        </h4>
      </mat-list-item>

      <mat-divider></mat-divider>
      <button (click)="openPlaylistFormDialog('Create')" mat-button>
        <mat-icon>playlist_add</mat-icon>
        New playlist
      </button>
      <button
        (click)="openArtistFormDialog('Create')"
        *ngIf="(currentUser$ | async)?.role === 'admin'"
        mat-button
      >
        <mat-icon>person_add</mat-icon>
        New artist
      </button>

      <mat-divider></mat-divider>

      <h4 class="header-next-to-icon sidebar-item">
        <mat-icon>music_note</mat-icon>
        Your playlists
      </h4>
      <mat-list-item
        *ngFor="let playlist of usersPlaylist$ | async"
        [routerLinkActive]="['is-active']"
        [routerLink]="'/playlist/' + playlist.id"
      >
        <span class="header-next-to-icon">
          <img
            [src]="playlist.imageUrl"
            height="40"
            src-fallback="/assets/music-fallback.jpg"
            width="40"
          />
          {{ playlist.name }}
        </span>
      </mat-list-item>

      <h4 class="header-next-to-icon sidebar-item">
        <mat-icon>favorite</mat-icon>
        Favorite playlists
      </h4>
      <mat-list-item
        *ngFor="let playlist of likedPlaylist$ | async"
        [routerLinkActive]="['is-active']"
        [routerLink]="'/playlist/' + playlist.id"
      >
        <span class="header-next-to-icon">
          <img
            [src]="playlist.imageUrl"
            height="40"
            src-fallback="/assets/music-fallback.jpg"
            width="40"
          />
          {{ playlist.name }}</span
        >
      </mat-list-item>

      <h4 class="header-next-to-icon sidebar-item">
        <mat-icon>group</mat-icon>
        Friends
      </h4>
      <mat-list-item
        *ngFor="let user of friends$ | async"
        [routerLinkActive]="['is-active']"
        [routerLink]="'/user/' + user.id"
      >
        <span class="header-next-to-icon">
          <img
            [src]="user.imageUrl"
            height="40"
            src-fallback="/assets/music-fallback.jpg"
            style="border-radius: 50%"
            width="40"
          />
          {{ user.name }}</span
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
