<ng-container *ngIf="currentUser$ | async as currentUser">
  <ng-container *ngIf="playlist$ | async as playlist">
    <div class="upper-part">
      <div class="info-on-left">
        <h3>Playlist</h3>

        <h1>{{ playlist.name }}</h1>
        <h4 style="margin-bottom: 4em">{{ playlist.description }}</h4>

        <h4 *ngIf="playlist.owners.length > 1">Collaborators</h4>
        <ng-container *ngFor="let user of playlist.owners">
          <div *ngIf="user.id !== currentUser.id" class="header-next-to-icon">
            <button [routerLink]="'/user/' + user.id" mat-button>
              <span>
                <img [src]="user.imageUrl" height="30" width="30" />
                {{ user.name }}
              </span>
            </button>

            <button
              (click)="onRemoveCollaborator(playlist, user)"
              color="warn"
              mat-button
            >
              <mat-icon>group_remove</mat-icon>
              Remove
            </button>
          </div>
        </ng-container>

        <mat-divider></mat-divider>

        <button (click)="toggleLike(playlist)" color="accent" mat-button>
          <mat-icon *ngIf="playlist.liked"> favorite</mat-icon>
          <mat-icon *ngIf="!playlist.liked"> favorite_outline</mat-icon>
          Favorite
        </button>

        <button
          (click)="onAddCollaboratorToPlaylist(playlist)"
          *ngIf="isCurrentUserPlaylistOwner(playlist, currentUser)"
          mat-button
        >
          <mat-icon>group_add</mat-icon>
          Add collaborator
        </button>

        <button
          (click)="openPlaylistFormDialog('Update')"
          *ngIf="isCurrentUserPlaylistOwner(playlist, currentUser)"
          mat-button
        >
          <mat-icon>edit</mat-icon>
          Edit playlist
        </button>

        <button
          (click)="deletePlaylist(playlist)"
          *ngIf="isCurrentUserPlaylistOwner(playlist, currentUser)"
          color="warn"
          mat-button
        >
          <mat-icon>delete</mat-icon>
          Delete playlist
        </button>
      </div>

      <div class="image-on-right">
        <img
          [src]="playlist.imageUrl"
          src-fallback="/assets/music-fallback.jpg"
        />
      </div>
    </div>
    <tracks
      (addToPlaylist)="onAddTrackToPlaylist($event)"
      (likeToggle)="onToggleLike($event)"
      (trackPositionChange)="onTrackPositionChange($event, playlist)"
      (trackRemove)="onRemoveTrack($event, playlist)"
      [editable]="isCurrentUserPlaylistOwner(playlist, currentUser)"
      [tracks]="playlist.tracks"
      [type]="'playlist'"
    ></tracks>
  </ng-container>
</ng-container>
