<div class="page-container">
  <div class="headers">
    <div>
      <div class="header">
        <h1>
          <b>Welcome to <span style="display: inline-block" d>Music Match</span></b>
        </h1>
      </div>
      <div class="header">
        <h2>Discover your and your friends' music taste</h2>
      </div>
    </div>
  </div>
  <div class="form-flex-container">
    <div class="form-container">
      <mat-card style="box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 15%)">
        <div class="logo-container">
          <img src="../../../assets/logo.svg" alt="Logo" />
          <h1>Music match</h1>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <div class="form-fields-container">
              <mat-form-field appearance="outline">
                <input matInput formControlName="username" type="text" />
                <mat-label>Username</mat-label>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput formControlName="name" type="text" />
                <mat-label>Name</mat-label>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input
                  (keydown.enter)="onSubmit()"
                  matInput
                  formControlName="password"
                  type="password"
                  placeholder="********"
                />
                <mat-label>Password</mat-label>
                <mat-error>Password is invalid.</mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
        </form>

        <button mat-raised-button color="primary" (click)="onSubmit()" class="login-button" type="button">
          Register
        </button>

        <div class="logo-container">
          <h3>Already have an account?</h3>
          <button mat-stroked-button color="primary" routerLink="/login" class="login-button">Login</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
