<mat-dialog-content>
  <h1 mat-dialog-title>{{ artistAndActionType.actionType }} release</h1>
  <input
    hidden="true"
    #fileInput
    onclick="this.value=null"
    type="file"
    (change)="onFileChanged($event)"
  />

  <button
    [disabled]="this.uploading$ | async"
    (click)="fileInput.click()"
    mat-raised-button
  >
    <img
      class="user-img"
      mat-card-sm-image
      [src]="this.imageUrl"
      src-fallback="/assets/music-fallback.jpg"
    />
  </button>

  <form [formGroup]="form">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <input matInput formControlName="name" type="text" />
        <mat-label>Name</mat-label>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <input matInput formControlName="releaseDate" type="date" />
        <mat-label>Release date</mat-label>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="releaseType">
          <mat-option
            *ngFor="let releaseType of releaseTypes"
            [value]="releaseType.toString()"
          >
            {{ releaseType.toString() | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Genres</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let genre of genreTypesInMatChips"
            (removed)="removeGenreChip(genre)"
          >
            {{ genre }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New genre..."
            #genreInput
            formControlName="genreTypes"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="addGenreChip($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="genreChipSelected($event)"
        >
          <mat-option
            *ngFor="let genre of filteredGenres | async"
            [value]="genre"
          >
            {{ genre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card-content>

    <ng-container formArrayName="tracks">
      <ng-container *ngFor="let trackForm of tracks.controls; let i = index">
        <ng-container [formGroupName]="i">
          <span>{{ i + 1 }}</span>
          <mat-form-field appearance="outline">
            <input matInput formControlName="name" type="text" />
            <mat-label>Name</mat-label>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput formControlName="duration" type="number" min="1" />
            <mat-label>Duration</mat-label>
          </mat-form-field>
        </ng-container>
        <button mat-button (click)="onRemoveTrack(i)">
          <mat-icon>remove</mat-icon>Remove track
        </button>
      </ng-container>
    </ng-container>

    <button mat-button (click)="onAddTrack()">
      <mat-icon>add</mat-icon> Add track
    </button>
  </form>

  <button
    [disabled]="!this.imageUrl || (this.uploading$ | async)"
    (click)="removeImage()"
    mat-raised-button
  >
    <mat-icon class="material-icons-outlined">delete</mat-icon> Remove image
  </button>

  <div mat-dialog-actions class="buttons">
    <button
      [disabled]="this.uploading$ | async"
      mat-raised-button
      color="primary"
      (click)="onConfirm()"
    >
      Save
    </button>

    <!-- {{ this.form.getRawValue() | json }} -->

    {{ 'selected Genres:' + this.genreTypesInMatChips }}

    <button
      [disabled]="this.uploading$ | async"
      mat-stroked-button
      (click)="onDismiss()"
    >
      Cancel
    </button>
  </div>
</mat-dialog-content>
