<ng-container *ngIf="this.release$ | async as release">
  <div class="upper-part">
    <div class="info-on-left">
      <div *ngFor="let artist of (this.release$ | async)?.artists">
        <a [routerLink]="'/artist/' + artist.id">
          <h4 class="header-next-to-icon">
            <img
              [src]="artist.imageUrl"
              height="50"
              src-fallback="assets/music-fallback.jpg"
              style="border-radius: 50%"
              width="50"
            />
            {{ artist.name }}
          </h4></a
        >
      </div>

      <h3>{{ release.type.toString() | titlecase }}</h3>

      <h1>{{ release.name }}</h1>

      <h5>{{ release.releaseDate | date }}</h5>
      <span>{{ getGenreTypes() | async | titlecase }}</span>

      <div *ngIf="(currentUser$ | async)?.role === 'admin'">
        <button (click)="openReleaseFormDialog('Update', release)" mat-button>
          <mat-icon>edit</mat-icon>
          Edit {{ release.type | titlecase }}
        </button>

        <button
          (click)="dispatchDeleteRelease(release)"
          color="warn"
          mat-button
        >
          <mat-icon>delete</mat-icon>
          Delete {{ release.type | titlecase }}
        </button>
      </div>
    </div>

    <div class="image-on-right">
      <img [src]="release.imageUrl" src-fallback="/assets/music-fallback.jpg" />
    </div>
  </div>

  <tracks
    (addToPlaylist)="onAddTrackToPlaylist($event)"
    (likeToggle)="onToggleTrackLike($event)"
    [tracks]="release.tracks"
    [type]="'release'"
  >
  </tracks>
</ng-container>
