<mat-card>
  <h1>Search</h1>
  <mat-form-field appearance="outline" class="example-full-width">
    <input
      #searchInput
      (keyup)="this.subject.next($any($event).target.value)"
      class="search-input"
      matInput
      placeholder="Search for artists, releases, tracks, playlists and users"
      type="text"
    />
  </mat-form-field>

  <div>
    <h3 *ngIf="(artistResult$ | async)?.length">Artists</h3>
    <div class="search-results">
      <search-result-card
        *ngFor="let artist of artistResult$ | async"
        [item]="artist"
        [type]="'artist'"
      >
      </search-result-card>
    </div>

    <h3 *ngIf="(releaseResult$ | async)?.length">Releases</h3>
    <div class="search-results">
      <search-result-card
        *ngFor="let release of releaseResult$ | async"
        [item]="release"
        [type]="'release'"
      ></search-result-card>
    </div>

    <h3 *ngIf="(trackResult$ | async)?.length">Tracks</h3>
    <div class="search-results">
      <track-result-card
        *ngFor="let track of trackResult$ | async"
        [track]="track"
      ></track-result-card>
    </div>

    <h3 *ngIf="(userResult$ | async)?.length">Users</h3>
    <div class="search-results">
      <search-result-card
        *ngFor="let user of userResult$ | async"
        [item]="user"
        [type]="'user'"
      ></search-result-card>
    </div>

    <h3 *ngIf="(playlistResult$ | async)?.length">Playlists</h3>
    <div class="search-results">
      <search-result-card
        *ngFor="let playlist of playlistResult$ | async"
        [item]="playlist"
        [type]="'playlist'"
      ></search-result-card>
    </div>
  </div>
</mat-card>
