<form (ngSubmit)="onConfirm()" [formGroup]="form">
  <input
    #fileInput
    (change)="onFileChanged($event)"
    hidden="true"
    onclick="this.value=null"
    type="file"
  />

  <h1 mat-dialog-title>{{ actionType }} artist</h1>

  <div class="dialog">
    <img
      (click)="fileInput.click()"
      [src]="this.imageUrl"
      src-fallback="/assets/music-fallback.jpg"
      style="border-radius: 50%"
    />

    <button
      (click)="removeImage()"
      [disabled]="!this.imageUrl || (this.uploading$ | async)"
      mat-raised-button
    >
      <mat-icon class="material-icons-outlined">hide_image</mat-icon> Remove
      image
    </button>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <input formControlName="name" matInput type="text" />
        <mat-error>Name is required.</mat-error>
        <mat-label>Name</mat-label>
      </mat-form-field>
    </mat-card-content>

    <div mat-dialog-actions>
      <button
        [disabled]="this.uploading$ | async"
        color="primary"
        mat-raised-button
        type="submit"
      >
        Save
      </button>
      <button
        (click)="onDismiss()"
        [disabled]="this.uploading$ | async"
        mat-stroked-button
      >
        Cancel
      </button>
    </div>
  </div>
</form>
