<div class="dialog">
  <h1 mat-dialog-title>{{ actionType }} artist</h1>
  <div class="wrapper">
    <div class="slika-actions">
      <div class="dugme">
        <input
          hidden="true"
          #fileInput
          onclick="this.value=null"
          type="file"
          (change)="onFileChanged($event)"
        />
      </div>
      <div class="dugme">
        <form [formGroup]="form">
          <mat-card-content>
            <mat-form-field appearance="outline">
              <input matInput formControlName="name" type="text" />
              <mat-label>Name</mat-label>
            </mat-form-field>
            <br />
          </mat-card-content>
        </form>

        <button
          [disabled]="!this.imageUrl || (this.uploading$ | async)"
          (click)="removeImage()"
          mat-raised-button
        >
          <mat-icon class="material-icons-outlined">delete</mat-icon> Remove
          image
        </button>
      </div>
    </div>

    <div
      style="
        width: 16em;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <button
        [disabled]="this.uploading$ | async"
        (click)="fileInput.click()"
        mat-raised-button
      >
        <img
          class="user-img"
          mat-card-sm-image
          [src]="this.imageUrl"
          src-fallback="/assets/music-fallback.jpg"
        />
      </button>
    </div>
  </div>

  <div mat-dialog-actions class="buttons">
    <button
      [disabled]="this.uploading$ | async"
      mat-raised-button
      color="primary"
      (click)="onConfirm()"
    >
      Save
    </button>
    <button
      [disabled]="this.uploading$ | async"
      mat-stroked-button
      (click)="onDismiss()"
    >
      Cancel
    </button>
  </div>
</div>
